<%= link_to "Upload Photos", new_photo_path %>

<% @photos.each do |photo| %>
  <div class="photo">
    <%= photo.file_name %>
    <%= image_tag photo.image_url.to_s, id: "photo" %>
  </div>
<% end %>

